body{
	font-family: "Times New Roman", Times, serif;
}

p{
	
	font-family: "Times New Roman", Times, serif;
	text-align: justify;
	margin-left: 1em;
	margin-right: 1em;
}




b{
	margin-left: 1em;
}


h3.TS.EDU{
	margin-left:1em;
	margin-top:1em;
	color:antiquewhite;
}

#TS, #EDU, #Offer, #PDE {
    color: #75482b;
    text-decoration: none;
}

h4{

	margin-left: 2em;
	margin-bottom:1em;
	margin-top:2.5em;

}




#intro {
    width: 100%;
    min-width: 20em;
    float:left;
}


#ProfileCover{
	position: relative;
	/*change eidth to 100%*/
	width: 100%;
   
	height: 10.6em;
	background-color: #004b97;
	font-family: "Times New Roman", Times, serif;
	/*margin-bottom: 10px;*/
	z-index: 1;
	top: 0em;
    opacity: 1;
	
	
}

#nav-banner{
	height: 70px;
	background-color: rosybrown;
}




#profile_pic{
	float:left;
	position: relative;
	width: 130px;
	height: 8em;
	border: solid #f7f7f7; 
}

#name{
	
	margin-top: 3em;
	margin-left: 0;
	font-size: 150%;
	
	color: #f7f7f7;
}

.banner-right{
	float:right;
	margin-right: 2em;
	background-color: rgb(39, 170, 159);
	box-shadow: 9px 9px 9px rgba(0, 0, 0, 0.486);
	border: 5px;
}

#icon-top{
	padding:3px;

}

#email{
	float:right;
	/*position: relative;*/
	margin-top: 0.6em;
	margin-right: 2em;
	
	color:#dfe3ee

}

.left-list li{
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /*font-size:1vw;*/
    text-align: left;
    margin-right: 1em;
    font-size:0.9vw;
    
}

a.TOP {
    color: gainsboro;
    font-size: 0.9vw;
    transform: scale(1.2);
    text-decoration: none;
}

    a.TOP:hover {
        color: #0D86AD;
        text-decoration: none;
    }




#LeftPanel {
	position: absolute;
	float: left;
   
    
	/*width: 18em;*/
	width:20%;
	height: 180em;
	
	/*margin-top: 6.3em;*/
	
    top: 0em;
    margin-top:0em;
    background-color: #8b9bc3;
    z-index: 0;
}


#MainContent {
    position: absolute;
    width: 80%;
    margin-left: 20%;
    margin-top: 0em;
    background-color: #dfe3ee;
	height: 170em;
	
}

.intro{

	background-color: rgb(232, 235, 209);
	box-shadow: 3px 3px 3px rgba(0, 0, 0, .1);
	font-size: 120%;
	padding:20px;
	margin-bottom: 10px;
	
	
}


#MingXingPian {
    position: relative;
    float: left;
    width: 100%;
	/*margin-top: 2.3em;*/
	margin-bottom: 2px;
    font-style: justify;
    top: 0em;
}

#resume{
	position: relative;
	margin-top: 2px;
	float:left;

}



#year{
	position:relative;
	font-size: 80%;
	margin-left: 2em;
	bottom: 0em;

}



/*Navigation part*/
/*Set CSS postion property to relative*/
.dropdown {
    list-style: none;
    
    padding: 0;
    margin: 0;
    background: #42364C;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .1);
}

    .dropdown li {
        display: block;
        position: relative;
        float: left;
        background: #42364C;
    }

/*The CSS to hide sub menus*/
li .dropdown{
	display: none;

}

.dropdown li a{
	display: block;
	/*this padding make space between every li*/
	padding: 1em;
	text-decoration: none;
	white-space: nowrap;
	color: #fff;

}

    .dropdown li a:hover {
        background: #42364C;
    }

/*Dislay the dropdown menu on hover*/
li:hover > .dropdown{
	display: block;
	position: absolute;

}

li:hover li{float: none;}
li:hover a {
    background: #42364C;
    text-decoration:none;
}
li:hover li a:hover{background: #2c3e50;}

.dropdown .dropdown .dropdown {
  left: 100%;
  top: 0;
}

.dropdown:before,
.dropdown:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

/*Special effect*/



