body{
	font-family: "Times New Roman", Times, serif;
}

p{
	
	font-family: "Times New Roman", Times, serif;
	text-align: justify;
	margin-left: 1em;
	margin-right: 1em;
}




b{
	margin-left: 1em;
}


h3.TS.EDU{
	margin-left:1em;
	margin-top:1em;
	color:antiquewhite;
}

#TS, #EDU, #Offer, #PDE {
    color: #75482b;
}

h4{

	margin-left: 2em;
	margin-bottom:1em;
	margin-top:2.5em;

}

.left-list li {
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /*font-size:1vw;*/
    text-align: left;
    margin-right: 1em;
}

#intro {
    width: 100%;
    min-width: 20em;
    float:left;
}


#ProfileCover{
	position: relative;
	width: 128%;
   
	height: 10.6em;
	background-color: #004b97;
	font-family: "Times New Roman", Times, serif;
	/*margin-bottom: 10px;*/
	z-index: 1;
	top: 0em;
    opacity: 1;
	
	
}

#nav-banner{
	height: 70px;
	background-color: rosybrown;
}




#profile_pic{
	float:left;
	position: relative;
	width: 130px;
	height: 8em;
	border: solid #f7f7f7; 
}

#name{
	
	margin-top: 3em;
	margin-left: 0;
	font-size: 150%;
	
	color: #f7f7f7;
}

#email{
	float:right;
	/*position: relative;*/
	margin-top: 3em;
	margin-right: 2em;
	
	color:#dfe3ee

}
#LeftPanel {
	position: absolute;
	float: left;
   
    
	/*width: 18em;*/
	width:30%;
	height: 150em;
	
	/*margin-top: 6.3em;*/
	
    top: 0em;
    background-color: #8b9bc3;
    z-index: 0;
}

#MingXingPian {
    position: relative;
    float: left;
    width: 100%;
	/*margin-top: 2.3em;*/
	margin-bottom: 2px;
    font-style: justify;
    top: 0em;
}

#resume{
	position: relative;
	margin-top: 2px;
	float:left;

}


#MainContent {
    position: relative;
    width: 100%;
    margin-left: 18em;
    margin-top: 0em;
    background-color: #dfe3ee;
	height: 100%;
	
}

#year{
	position:relative;
	font-size: 80%;
	margin-left: 2em;
	bottom: 0em;

}

a.TOP
{
    color:gainsboro;
}



/*Navigation part*/
/*Set CSS postion property to relative*/
.dropdown{
	list-style:none;
	padding:0;
	margin:0;
	background:#1bc2a2;

}

.dropdown li{
	display: block;
	position:relative;
	float:left;
	background: #1bc2a2;

}

/*The CSS to hide sub menus*/
li .dropdown{
	display: none;

}

.dropdown li a{
	display: block;
	/*this padding make space between every li*/
	padding: 1em;
	text-decoration: none;
	white-space: nowrap;
	color: #fff;

}

.dropdown li a:hover{background: #2c3e50;}

/*Dislay the dropdown menu on hover*/
li:hover > .dropdown{
	display: block;
	position: absolute;

}

li:hover li{float: none;}
li:hover a{background: #1bc2a2;}
li:hover li a:hover{background: #2c3e50;}

.dropdown .dropdown .dropdown {
  left: 100%;
  top: 0;
}

.dropdown:before,
.dropdown:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.under-cover{

	height: 140em;
}



